@media (min-width: 320px) {
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #393e46;
  }

  .back-to-allpost{
    width: 225px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #eeeeee;

    svg{
      margin-right: 10px;
    }

    &:focus,
    &:hover{
      color: #00ADB5;

      svg{
        background-color: #eeeeee;
        border-radius: 10px;
      }
    }
  }

}