.header_nav_list {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  a {
    color: var(--color-black);
    font-size: 40px;
  }
}

.auth_wrapper{
  height: 100%;
  position: relative;
}

.auth_wrapper .btn-logout{
  width: 45px;
  height: 45px;
  border: 2px solid black;
  position: absolute;
  left: 80px;
  bottom: -50px;
}

.check_auth_link{
  display: flex;
  align-items: center;
}