.header_navigation{
  margin-top: 31.25px;
}


.header_nav_list {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-family: "Arsenal", sans-serif;

  a {
    color: var(--color-black);
    font-size: 40px;
  }
}

.header_nav__link__blur{
  padding-right: 25px;
  font-size: 17.5px;
  filter: blur(1.25px);
}

.header_nav__item__develop{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.auth_wrapper{
  height: 100%;
  position: relative;
}

.auth_btn_logout__wrapper{
  width: 105px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .btn-logout{
    position: absolute;
    top: 0;
    left: 25px;
  }

}

.check_auth_link{
  display: flex;
  position: relative;
}




