@media (min-width:320px) {
  
  .header{
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background-attachment: fixed;
		background-color: transparent;
		border: 2px solid #00ADB5 ;
		border-radius: 8px;
		color: #eeeeee;
		font-size: 16px;
	}

}