

/* Новые стили для ширины viewport >= 320px */
@media (min-width: 320px) {
  .registration-form-container {
    width: 90%;
    max-width: 350px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 6px;
  }

  input {
    padding: 10px;
    margin-bottom: 12px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .error-message {
    color: red;
    margin-top: 6px;
    font-size: 12px;
  }
}



@media (min-width: 510px) {
  .registration-form-container {
    max-width: 500px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-bottom: 30px;
    font-size: 28px;
  }

  label {
    font-size: 16px;
    color: #333;
  }

  input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }

  button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .error-message {
    color: red;
    margin-top: 8px;
    font-size: 14px;
  }
}
