
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}


ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{ 
  text-decoration: none;
}

// -------------------------------------------------FONTS----------------------------------------

