*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}


ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{ 
  text-decoration: none;
}
