@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}


ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{ 
  text-decoration: none;
}

// -------------------------------------------------FONTS----------------------------------------

