html {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.backround_red {
  background-color: var(--theme-default-header)
}


ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
