// --ФОРМАТ CSS ПЕРЕМЕННОЙ
// --theme-webdotg-УНИКАЛЬНОЕ_ИМЯ    -- для мятной
// --theme-uncicorng-УНИКАЛЬНОЕ_ИМЯ  -- для единорожек
// --theme-dotg-УНИКАЛЬНОЕ_ИМЯ       -- дл харда
// --theme-default-УНИКАЛЬНОЕ_ИМЯ    -- дефолтная переменная
// `--theme-default-${element}`,
// `var(--theme-${theme}-${element})`

:root {
    
  --color-white:       rgba(255,255, 255, 1.0);   //шрифт
  --color-black:       rgba(10, 10, 10, 1.0);     //фон /обводка
  --color-red:         rgba(217, 26, 50, 1.0);    //фон /обводка

  --color-light-gray:  rgba(238, 238, 238, 1.0);  //шрифт
  --color-mauve:       rgb(201, 177, 255, 1.0);   //фон /обводка
  --color-shampoo:     rgba(255, 202, 242, 1.0 ); //фон /обводка

  --color-light-gray:  rgba(238, 238, 238, 1.0);   //шрифт
  --color-dark-gray:   rgba(34, 41, 50, 1.0);     //фон /обводка
  --color-mint:        rgba(0, 174, 181, 1.0);    //фон /обводка

  /* THEMES */
  // HEADR
  --theme-webdotg-header-background:  var(--color-dark-gray); 
  --theme-dotg-header-background:     var(--color-black);
  --theme-unicorng-header-background: var(--color-mauve) ;
  --theme-default-header-background:  var(--theme-webdotg-header-background);

  --theme-webdotg-header-name:  var(--color-white); 
  --theme-dotg-header-name:     var(--color-white);
  --theme-unicorng-header-name: var(--color-white) ;
  --theme-default-header-name:  var(--theme-webdotg-header-name);

  --theme-webdotg-header-social:  var(--color-mint); 
  --theme-dotg-header-social:     var(--color-red);
  --theme-unicorng-header-social: var(--color-light-gray) ;
  --theme-default-header-social:  var(--theme-webdotg-header-social);

  --theme-webdotg-headerAfter:  var(--color-mint); 
  --theme-unicorng-headerAfter: var(--color-banana-mania) ;
  --theme-dotg-headerAfter:     var(--color-white);
  --theme-default-headerAfter:  var(--theme-webdotg-headerAfter);

   // MAIN 
   --theme-webdotg-main-titleBack:  linear-gradient(180deg, var(--color-dark-gray) 35%, var(--color-mint)100%);
   --theme-dotg-main-titleBack:     linear-gradient(180deg, var(--color-black) 35%, var(--color-red)100%);
   --theme-unicorng-main-titleBack: linear-gradient(180deg, var(--color-mauve) 35%, var(--color-shampoo)100%);
   --theme-default-main-titleBack:  var(--theme-webdotg-main-titleBack);

   --theme-webdotg-main-titleText:  var(--color-light-gray); 
   --theme-dotg-main-titleText:     var(--color-red);
   --theme-unicorng-main-titleText: var(--color-light-gray) ;
   --theme-default-main-titleText:  var(--theme-webdotg-main-titleText);

   --theme-webdotg-main-titleG:  var(--color-mint); 
   --theme-dotg-main-titleG:     var(--color-red);
   --theme-unicorng-main-titleG: var(--color-shampoo) ;
   --theme-default-main-titleG:  var(--theme-webdotg-main-titleG);

   --theme-webdotg-main-titleSliding:  var(--color-dark-gray); 
   --theme-dotg-main-titleSliding:     var(--color-black);
   --theme-unicorng-main-titleSliding: var(--color-light-gray) ;
   --theme-default-main-titleSliding:  var(--theme-webdotg-main-titleSliding);

   --theme-webdotg-main:  var(--color-gray); 
   --theme-dotg-main:     var(--color-red);
   --theme-unicorng-main: var(--color-shampoo) ;
   --theme-default-main:  var(--theme-webdotg-main);
  
    // PARALAX
    --theme-webdotg-paralax-background:   linear-gradient(180deg, var(--color-mint) 2.5%, var(--color-dark-gray)100%); 
    --theme-dotg-paralax-background:      linear-gradient(180deg, var(--color-red) 2.5%,  var(--color-black) 100%);
    --theme-unicorng-paralax-background:  linear-gradient(180deg, var(--color-shampoo) 2.5%, var(--color-mauve) 100%);
    --theme-default-paralax-background:  var(--theme-webdotg-paralax-background);

   
   
    // MAIN PRICE
   --theme-webdotg-mainAboutBack:  var(--color-color-gray); 
   --theme-unicorng-mainAboutBack: var(--color-tea-green) ;
   --theme-dotg-mainAboutBack:     var(--color-red);
   --theme-default-mainAboutBack:  var(--theme-webdotg-mainAboutBack);

   --theme-webdotg-mainAboutSliderBtn:  var(--color-mint); 
   --theme-unicorng-mainAboutSliderBtn: var(--color-shampoo) ;
   --theme-dotg-mainAboutSliderBtn:     var(--color-black);
   --theme-default-mainAboutSliderBtn:  var(--theme-webdotg-mainAboutSliderBtn);
   
   --theme-webdotg-mainAboutSliderBtnBack:  var(--color-mint); 
   --theme-unicorng-mainAboutSliderBtnBack: var(--color-banana-mania) ;
   --theme-dotg-mainAboutSliderBtnBack:     var(--color-white);
   --theme-default-mainAboutSliderBtnBack:  var(--theme-default-mainAboutSliderBtnBack);

   --theme-webdotg-mainAboutSliderLinkToBorder:  var(--color-mint); 
   --theme-unicorng-mainAboutSliderLinkToBorder: var(--color-mauve) ;
   --theme-dotg-mainAboutSliderLinkToBorder:     var(--color-black);
   --theme-default-mainAboutSliderLinkToBorder:  var(--theme-webdotg-mainAboutSliderLinkToBorder);

    // MAIN PORTFOLIO
    --theme-webdotg-mainPortfolio:  var(--color-dark-gray); 
    --theme-unicorng-mainPortfolio: var(--color-melon) ;
    --theme-dotg-mainPortfolio:     var(--color-black);
    --theme-default-mainPortfolio:  var(--theme-webdotg-mainPortfolio);
    
    --theme-webdotg-mainPortfolioPanel:  var(--color-mint); 
    --theme-unicorng-mainPortfolioPanel: var(--color-shampoo) ;
    --theme-dotg-mainPortfolioPanel:     var(--color-red);
    --theme-default-mainPortfolioPanel:  var(--theme-webdotg-mainPortfolioPanel);
 
    //MAIN ABOUT
    
    --theme-webdotg-main-aboutTitleBtn:  var(--color-dark-gray); 
    --theme-dotg-main-aboutTitleBtn:     var(--color-white);
    --theme-unicorng-main-aboutTitleBtn: var(--color-white) ;
    --theme-default-main-aboutTitleBtn:  var(--theme-webdotg-main-aboutTitleBtn);

     //MAIN CONTACT

   --theme-webdotg-main-ContactSvg:  var(--color-dark-gray); 
    --theme-dotg-main-ContactSvg:     var(--color-black);
    --theme-unicorng-main-ContactSvg: var(--color-mauve) ;
    --theme-default-main-ContactSvg:  var( --theme-webdotg-main-ContactSvg);

    
    --theme-webdotg-main-aboutItem:  var(--color-light-gray); 
    --theme-dotg-main-aboutItem:     var(--color-black);
    --theme-unicorng-main-aboutItem: var(--color-shampoo) ;
    --theme-default-main-aboutItem:  var(--theme-webdotg-main-aboutItem);

    --theme-webdotg-main-aboutItemSvg:  var(--color-mint); 
    --theme-dotg-main-aboutItemSvg:     var(--color-red);
    --theme-unicorng-main-aboutItemSvg: var(--color-mauve) ;
    --theme-default-main-aboutItemSvg:  var(--theme-webdotg-main-aboutItemSvg);

    --theme-webdotg-main-aboutItemText:  var(--color-dark-gray); 
    --theme-dotg-main-aboutItemText:     var(--color-white);
    --theme-unicorng-main-aboutItemText: var(--color-white) ;
    --theme-default-main-aboutItemText:  var(--theme-webdotg-main-aboutItemText);
    
    
}

