// --ФОРМАТ CSS ПЕРЕМЕННОЙ
// --theme-webdotg-УНИКАЛЬНОЕ_ИМЯ    -- для мятной
// --theme-uncicorng-УНИКАЛЬНОЕ_ИМЯ  -- для единорожек
// --theme-dotg-УНИКАЛЬНОЕ_ИМЯ       -- дл харда
// --theme-default-УНИКАЛЬНОЕ_ИМЯ    -- дефолтня переменная
// `--theme-default-${element}`,
// `var(--theme-${theme}-${element})`

:root {
    
  --color-white:       rgba(255,255, 255, 1.0);
  --color-black:       rgba(10, 10, 10, 1.0);
  --color-red:         rgba(217, 26, 50, 1.0);

  --color-melon:       rgba(255,178, 177, 1.0);
  --color-mauve:       rgb(201, 177, 255, 1.0);
  --color-shampoo:     rgba(255, 202, 242, 1.0 );
  --color-tea-green:   rgb(188, 255, 188, 1.0);
  --color-banana-mania:rgba(255, 243, 173, 1.0);

  --color-light-gray:  rgba(238, 238, 238, 1.0); 
  --color-gray:        rgba(57, 63, 70, 1.0);
  --color-dark-gray:   rgba(34, 41, 50, 1.0);
  --color-mint:        rgba(0, 174, 181, 1.0);

  --color-gradient-black-red: linear-gradient(270deg, rgba(217, 26, 6, 1.0), rgba(10, 10, 10, 1.0)) ;
  --color-gradient-unicorn:  linear-gradient(45deg, rgba(202, 177, 255, 1.0), rgba(255, 244, 173, 1.0));
  --color-gradient-mint: linear-gradient(90deg, rgba(57, 63, 70, 1.0), rgba(0, 174, 181, 1.0));
  

  /* THEMES */
  // HEADR
  --theme-webdotg-header:  var(--color-dark-gray); 
  --theme-unicorng-header: var(--color-melon) ;
  --theme-dotg-header:     var(--color-black);
  --theme-default-header:  var(--theme-webdotg-header);

  --theme-webdotg-headerText:  var(--color-light-gray); 
  --theme-unicorng-headerText: var(--color-white) ;
  --theme-dotg-headerText:     var(--color-red);
  --theme-default-headerText:  var(--theme-webdotg-headerText);

  --theme-webdotg-headerAfter:  var(--color-mint); 
  --theme-unicorng-headerAfter: var(--color-banana-mania) ;
  --theme-dotg-headerAfter:     var(--color-white);
  --theme-default-headerAfter:  var(--theme-webdotg-headerAfter);

   // MAIN 
   --theme-webdotg-main:  var(--color-gray); 
   --theme-unicorng-main: var(--color-shampoo) ;
   --theme-dotg-main:     var(--color-red);
   --theme-default-main:  var(--theme-webdotg-main);
  
   --theme-webdotg-mainText:  var(--color-light-gray); 
   --theme-unicorng-mainText: var(--color-tea-green) ;
   --theme-dotg-mainText:     var(--color-black);
   --theme-default-mainText:  var(--theme-webdotg-mainText);
   
   --theme-webdotg-mainAboutBack:  var(--color-dark-gray); 
   --theme-unicorng-mainAboutBack: var(--color-tea-green) ;
   --theme-dotg-mainAboutBack:     var(--color-red);
   --theme-default-mainAboutBack:  var(--theme-webdotg-mainAboutBack);

   --theme-webdotg-mainAboutBackSliderBtn:  var(--color-dark-gray); 
   --theme-unicorng-mainAboutBackSliderBtn: var(--color-shampoo) ;
   --theme-dotg-mainAboutBackSliderBtn:     var(--color-black);
   --theme-default-mainAboutBackSliderBtn:  var(--theme-webdotg-mainAboutBackSliderBtn);


}





// --border-radius-small: 6px;
// --border-radius-medium: 8px;

// --text-shadow-red:
//     0 0 5px var(--color-white),
//     0 0 40px var(--color-red);

// --text-shadow-shampoo:
//     0 0 2px var(--color-white),
//     0 0 40px var(--color-shampoo);

// --box-shadow-white:
//     0 16px 24px 2px rgba(255, 255, 255, 0.02), 
//     0 6px 30px 5px rgba(255, 255, 255, 0.04), 
//     0 8px 10px -5px rgba(255, 255, 255, 0.1);

// --box-shadow-black:
//     0 16px 24px 2px rgba(0, 0, 0, 0.5), 
//     0 6px 30px 5px rgba(0, 0, 0, 0.1), 
//     0 8px 10px -5px rgba(0, 0, 0, 0.2);
