@media (min-width: 320px) {

  .communism-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--theme-default-main-titleBack);
  }

  .background-star {
    min-height: 100vh;
    background-image: url(../../img/stars.png);
  }

  .communism-about-wrapper {}

  .communism-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 31px;
    text-align: center;
    color: var( --color-light-gray);
    font-weight: 200;
    letter-spacing: 0.15px;
  }

  .communism-about {
    font-size: 18px;
    color: var(--color-light-gray);
    font-weight: 200;
    line-height: 33px;
    text-align: center;
  }

  .link-wrapper{
    width: 340px;
    height: 125px;
    margin: 0 auto;
    position: relative;
  }
  :root {
    --initial-left: 225px;
    --initial-top: 25px;
    --hover-left: 25px;
    --hover-top: 25px;
  }

  .add-post-link,
  .add-post-link2 {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 19px;
    color: var(--color-light-gray);
    font-weight: 200;
    position: absolute;
    left: var(--initial-left);
    top: var(--initial-top);
    transition: left 3.5s ease-in-out, top 3.5s ease-in-out;
    overflow: hidden;
    text-decoration: underline;

    &:focus,
    &:hover {
      filter: blur(0.17px);
      background-color: transparent;
      top: var(--hover-top);
      left: var(--hover-left);
      text-shadow: var(--theme-default-main-ContactNeonText);
      box-shadow: var(--theme-default-main-ContactNeonText);
      transform: scale(1.25);
    }
  }

  .communism {
    min-width: 300px;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .post-wrapper {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
    box-shadow: var(--theme-default-main-ContactNeonText);
    border-radius: 8px;
  }

  .post-title {
    font-size: 21px;
    margin-bottom: 15px;
    letter-spacing: 0.1px;
    color: var(--color-light-gray);
    text-align: center;
  }

  .link-to-post {
    width: 280px;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: var(--color-light-gray);
    font-weight: 200;
    border: 2px solid var( --theme-default-main-titleG);
    border-radius: 6px;

    &:focus,
    &:hover {
      background-color: var(--color-light-gray);
      color: var(--color-dark-gray);
    }
  }
}

@media (min-width: 760px) {

  .communism-title {
    font-size: 28px;
  }

  .communism-about {
    padding-left: 33px;
    font-size: 20px;
  }

  .add-post-link {
    margin: 0 auto;
    margin-top: 40px;
  }

  .post-wrapper {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 33px;
    padding-top: 33px;
    padding-left: 30x;
  }

  .post-title {
    font-size: 28px;
  }

  .user-name {
    font-size: 25px;
    padding-left: 40px;
  }

  .link-to-post {
    margin-top: 40px;
  }
}