@media (min-width: 320px) {

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #393e46;
  }

  .communism-wrapper {
      min-width: 300px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
  }

  .communism-title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 23px;
    text-align: center;
    color: #eeeeee;
    font-weight: 200;
  }

  .communism-about{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #eeeeee;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
  }

  .communism{
    font-size: 25px;
    color: #eeeeee;
    
  }

}