@media (min-width: 320px) {

  .communism-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--theme-default-main-titleBack);
  }

  .background-star {
    min-height: 100vh;
    background-image: url(../../img/stars.png);
  }

  .communism-about-wrapper {}

  .communism-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 31px;
    text-align: center;
    color: var( --color-light-gray);
    font-weight: 200;
    letter-spacing: 0.15px;
  }

  .communism-about {
    font-size: 18px;
    color: var(--color-light-gray);
    font-weight: 200;
    line-height: 33px;
    text-align: center;
  }

  :root {
    --initial-left: 25px;
    --initial-top: 100px;
    --hover-left: 25px;
    --hover-top: 295px;
    --initial-left2: 150px;
    --initial-top2: 311px;
    --hover-left2: 150px;
    --hover-top2: 115px;
  }

  .add-post-link,
  .add-post-link2 {
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 21px;
    color: var(--color-light-gray);
    font-weight: 200;
    position: absolute;
    left: var(--initial-left);
    top: var(--initial-top);
    transition: left 3.5s ease-in-out, top 3.5s ease-in-out;
    overflow: hidden;
    

    &:focus,
    &:hover {
      filter: blur(0.17px);
      background-color: transparent;
      top: var(--hover-top);
      left: var(--hover-left);
      text-shadow: var(--theme-default-main-ContactNeonText);
      box-shadow: var(--theme-default-main-ContactNeonText);
    }
  }

  .add-post-link2{
    width: 65px;
    height: 65px;
    font-size: 14px;
    text-align: center;
    left: var(--initial-left2);
    top: var(--initial-top2);
    transition: left 4.15s ease-in-out, top 4.15s ease-in-out;
    text-decoration: underline;

    &:focus,
    &:hover {
      transform: scale(1.05);
      top: var(--hover-top2);
      left: var(--hover-left2);
    }

  }

  // @keyframes randomMove {
  //   to {
  //     left: calc(random() * (100vw));
  //     top: calc(random() * (100vh));
  //     opacity: 0.5;
  //   }
  // }




  .communism {
    min-width: 300px;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .post-wrapper {
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #00ADB5;
    border-radius: 8px;
  }

  .post-title {
    font-size: 35px;
    color: var(--color-light-gray);
    text-align: center;
  }

  .link-to-post {
    width: 280px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #eeeeee;
    font-weight: 200;
    border: 2px solid #00ADB5;
    border-radius: 6px;

    &:focus,
    &:hover {
      background-color: #eeeeee;
      color: #393e46;
    }
  }
}

@media (min-width: 760px) {

  .communism-title {
    font-size: 28px;
  }

  .communism-about {
    padding-left: 33px;
    font-size: 20px;
  }

  .add-post-link {
    // width: 300px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .post-wrapper {

    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 33px;
    padding-top: 33px;
    padding-left: 30x;
  }

  .post-title {
    font-size: 28px;
  }

  .user-name {
    font-size: 25px;
    padding-left: 40px;
  }

  .link-to-post {
    margin-top: 40px;
  }
}