@import '../../variablesBase.scss';

.mainPortfolio-container {
  width: 100%;
  background: var(--theme-default-main-titleBack);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--color-white);
}

.wrapper {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../../img/stars.png);

  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include descktop {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-evenly;
  }
}

//===========================================================TEXT===========================================
.word {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mobile {
    width: 150px;
  }
  @include descktop {
    width: 222px;
  }

  h3 {
    padding-bottom: 35px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-white);

    @include mobile {
      font-size: 50px;
    }

    @include descktop {
      font-size: 75px;
    }
  }

  p {
    text-align: center;
    letter-spacing: 0.15px;
    padding-bottom: 15px;
    font-weight: 400;

    @include mobile {
      font-size: 18px;
    }

    @include descktop {
      font-size: 25px;
    }
  }
}

//=================================================IMAGES====================================================
.images {
  position: relative;

  @include mobile {
    width: 150px;
    height: 350px;
  }

  @include descktop {
    height: 550px;
    width: 400px;
  }
}

// ==============================================booking
.booking-listing {
  position: absolute;
  z-index: 1;

  @include mobile {
    width: 70px;
    height: 180px;
    left: 0px;
    top: 150px;
  }

  @include descktop {
    width: 100px;
    height: 300px;
    left: 0;
    top: 110px;
  }
}

.booking-home {
  position: absolute;
  z-index: 2;

  @include mobile {
    width: 90px;
    height: 314px;
    right: 25px;
    bottom: -30px;
  }

  @include descktop {
    width: 225px;
    height: 550px;
    right: 120px;
    bottom: 5;

  }
}

.booking-profile {
  position: absolute;
  z-index: 3;

  @include mobile {
    width: 80px;
    height: 115px;
    right: 0px;
    bottom: -50px;
  }

  @include descktop {
    width: 200px;
    height: 250px;
    right: 0;
    bottom: 60px;
  }

}

//=========================================================telegram
.telegram-chat {
  position: absolute;
  z-index: 2;

  @include mobile {
    width: 80px;
    height: 115px;
    bottom: -55px;
    left: -5px;
  }

  @include descktop {
    width: 200px;
    height: 400px;
    right: 12px;
    bottom: -55px;
  }

}

.telegram-desctop {
  position: absolute;
  z-index: 1;

  @include mobile {
    width: 148px;
    height: 133px;
    right: 0px;
    top: 150px;
  }

  @include descktop {
    width: 400px;
    height: 300px;
    left: 0;
    top: 175px;
  }
}

.telegram-call {
  position: absolute;
  z-index: 3;

  @include mobile {
    width: 80px;
    height: 115px;
    right: -13px;
    bottom: -45px;
  }

  @include descktop {
    width: 175px;
    height: 250px;
    right: 20px;
    bottom: -25px;
  }
}

//=====================================================APP
.mobile-loginLight {
  position: absolute;
  z-index: 5;

  @include mobile {
    width: 75px;
    height: 150px;
    right: 5px;
    top: 95px;
  }

  @include descktop {
    width: 125px;
    height: 250px;
    right: 123px;
    top: 100px;
  }
}

.mobile-LoginDark {
  position: absolute;
  z-index: 4;

  @include mobile {
    width: 75px;
    height: 150px;
    right: 55px;
    bottom: 145px;
  }

  @include descktop {
    width: 125px;
    height: 250px;
    right: 44px;
    top: -1px;
  }
}

.mobile-homeLight {
  position: absolute;
  z-index: 2;

  @include mobile {
    display: none;
    width: 75px;
    height: 150px;
    right: 41px;
    bottom: 115px;
  }

  @include descktop {
    display: block;
    width: 125px;
    height: 250px;
    left: 21px;
    top: 280px;
  }
}


.mobile-homeDark {
  position: absolute;
  z-index: 6;

  @include mobile {
    width: 75px;
    height: 150px;
    right: 25px;
    top: 160px;
  }

  @include descktop {
    width: 125px;
    height: 250px;
    left: 102px;
    top: 160px;
  }
}

.mobile-chatLight {
  position: absolute;
  z-index: 1;

  @include mobile {
    width: 75px;
    height: 150px;
    right: 12px;
    bottom: -33px;
  }

  @include descktop {
    width: 125px;
    height: 250px;
    right: 15px;
    bottom: 0px;
  }
}

.mobile-chatDark {
  position: absolute;
  z-index: 3;

  @include mobile {
    width: 75px;
    height: 150px;
    right: 66px;
    bottom: -70px;
  }

  @include descktop {
    width: 125px;
    height: 250px;
    left: 100px;
    bottom: -71px;
  }
}