.mainPortfolio-container {
  width: 100%;
  background: var(--theme-default-main-titleBack);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  overflow: hidden;
  
}

.wrapper{
  padding-top: 100px;
  width: 100%;
  padding-left: 85px;
  padding-right: 85px;
  display: flex;
  background-image: url(../../img/stars.png);
}

.word{
  padding-left: 15px;
  padding-right: 15px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3{
    padding-left: 15px;
    padding-bottom: 35px;
    font-size: 75px;
    text-align: center;
  }

  p{
    text-align: center;
    letter-spacing: 0.15px;
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: 400;
  }
}

.images{
  height: 550px;
  width: 400px;
  position: relative;
}
.booking-home{
  position: absolute;
  right: 120px;
  bottom: 5;
  z-index: 2;
}
.booking-listing{
  position: absolute;
  left: 0;
  top: 110px;
  z-index: 1;
}
.booking-profile{
  position: absolute;
  right: 0;
  bottom: 60px;
  z-index: 3;
}
.telegram-chat{
  position: absolute;
  right: 12px;
  bottom: -55px;
  z-index: 2;
}
.telegram-desctop{
  position: absolute;
  left: 0;
  top: 175px;
  z-index: 1;
}
.telegram-call{
  position: absolute;
  left: 20px;
  bottom: -25px;
  z-index: 3;
}
.mobile-loginLight{
  position: absolute;
  right: 123px;
  top: 100px;
  z-index: 5;
}
.mobile-LoginDark{
  position: absolute;
  right: 44px;
  top: -70px;
  z-index: 4;
}
.mobile-homeLight{
  position: absolute;
  left: 21px;
  top: 280px;
  z-index: 2;
}
.mobile-homeDark{
  position: absolute;
  left: 102px;
  top: 160px;
  z-index: 6;
}
.mobile-chatLight{
  position: absolute;
  right: 15px;
  bottom: 0px;
  z-index: 1;
}
.mobile-chatDark{
  position: absolute;
  left: 100px;
  bottom: -130px;
  z-index: 3;
}