@import '../../variablesBase.scss';

.mainAbout-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  min-height: 900px;
  background: var(--theme-default-paralax-background);

  
}

.mainAbout {
  width: 100%;
  height: 100%;
  background-image: url(../../img/stars.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-container {
  flex: 1;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;
  // @include mobile {
  //   align-self: center;
  //   text-align: center;
  //   flex-direction: column;
  // }

  p {
    color: var(--theme-default-main-aboutItemText);

    @include mobile {
      font-size: 15px;
    }

    @include descktop {
      font-weight: 200;
      font-size: 20px;
      text-align: right;
      color: var(--theme-default-main-aboutItemText);
    }
  }

  hr {
    @include mobile {
      width: 80px;
      border-top: 0.5px solid var(--theme-default-main-aboutItemText);
    }

    @include descktop {
      width: 260px;
      border-top: 0.5px solid var(--color-light-gray);
    }

  }
}

.title-container {
  padding-top: 30px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    gap: 50px;


    img {
      @include mobile {
       display: none; 
      }
      @include descktop {
        display: block;
        width: 225px;
        height: 60px;
        text-align: center;
        border: 2px solid var(--theme-default-main-aboutItem);
        background: var(--theme-default-main-aboutItem);
        color: var(--theme-default-main-aboutItemSvg);
        border-radius: 25px;
        object-fit: cover;  
      }
  
    }

    h2 {
      font-weight: 100;
      color: var(--theme-default-main-aboutItemText);

      @include mobile {
        font-size: 28px;
      }

      @include descktop {
        font-size: 55px;
      }

      b {
        font-weight: 800;

        :focus,
        :hover {
          color: var(--theme-default-main-aboutTitle);
        }
      }
    }

    .button {
      @include mobile {
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        border: none;
        background: var(--theme-default-main-aboutItem);
        color: var(--theme-default-main-aboutItemSvg);
        font-size: 16px;
        cursor: pointer;
        display: none;
      }

      @include descktop {
        width: 200px;
        height: 50px;
        font-size: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        border: none;
        background: var(--theme-default-main-aboutItem);
        color: var(--theme-default-main-aboutItemSvg);
        cursor: pointer;
      }

    }
  }
}

.list-container {
  flex: 2;
  padding-top: 50px;

  .box {
    margin: auto;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;


    li {
      position: relative;
      margin: 15px;
      width: 300px;
      min-height: 400px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      background: var(--theme-default-main-aboutItem);
      color: var(--theme-default-main-aboutItemText);

      h3 {
        font-size: 25px;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 3px;
          background: var(--theme-default-main-aboutItemSvg);
          position: absolute;
          bottom: -8px;
          left: 0px;
        }
      }

      svg {
        fill: var(--theme-default-main-aboutItemSvg);
      }

      p {
        font-size: 18px;
        text-align: left;
      }
    }
  }
}

//===============================================ANIMATION CIRCLE ===============================
.puls-container {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: -75px;
  right: 52px;

  .circle0,
  .circle1,
  .circle2,
  .circle3 {
    border-radius: 50%;
    background-color: var(--color-light-gray);
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 5s infinite cubic-bezier(.36, .11, .89, .32);
    z-index: 5;
  }

  .circle0 {
    animation-delay: 0s;
  }

  .circle1 {
    animation-delay: 1s;
  }

  .circle2 {
    animation-delay: 2;
  }

  .circle3 {
    animation-delay: 3s;
  }

  .item {
    z-index: 100;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--theme-default-main-aboutItem);
    ;
  }

  .item div {
    font-size: 25px;
    width: 50px;
  }

}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .4;
  }

  to {
    transform: scale(1.75, 1.75);
    opacity: 0;
  }
}