/* Общие стили */
.shop_page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.site_seconde_blok_wrapper,
.site_third_blok_wrapper,
.site_fourth_blok_wrapper {
  display: none;
  margin-top: 20px;
}

/* Стили для ширины экрана не менее 320px */
@media (min-width: 320px) {
  .shop_page__wrapper {
    padding: 40px;
  }

  .check_first {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site_seconde_blok_wrapper,
  .site_third_blok_wrapper,
  .site_fourth_blok_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .site_seconde_blok_wrapper {
    /* Стили для блока site_seconde_blok_wrapper */
  }

  .site_third_blok_wrapper {
    /* Стили для блока site_third_blok_wrapper */
  }

  .site_fourth_blok_wrapper {
    /* Стили для блока site_fourth_blok_wrapper */
  }
}
