@media (min-width:320px) {

  .wrapper {
    width: 100%;
    background-color:  #393e46;
  }

  .form-wrapper{
    width: 320px;
    margin: 0 auto;
    border:#eeeeee 1px solid;
  }

  .form-title {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
    color: #eeeeee;
  }

  .first-radio-wrapper,
  .seconde-radio-wrapper,
  .first-site-wrapper,
  .first-telegram-wrapper,
  .first-app-wrapper {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
  }

  .first-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      padding-bottom: 15px;
    }
  }


  .checkbox,
  .radio {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    
  }

  label,
  checkbox{
   padding: 7px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #eeeeee;

   .custom-check{
    margin-top: 15px;
   }

  }

  .radio+.custom-check,
  .checkbox+.custom-check {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../../svg/icon_heart_non_check.svg);
  }

  .radio:checked +.custom-check,
  .checkbox:checked +.custom-check {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../../svg/icon_heart_check.svg);
  }

}