@media (min-width:320px) {

  .shop-page {
    min-height: 100vh;
    background: var(--theme-default-main-titleBack);
  }

  .text-wrapper {
    display: none;
  }

  .form-wrapper {
    width: 100%;
    background-image: url(../../img/stars.png);
  }

  .shop-form {
    width: 320px;
    min-height: 900px;
    margin: 0 auto;
    padding-bottom: 35px;
  }

  .form-title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 35px;
    color: var(--color-light-gray);
    font-weight: 300;
    text-transform: uppercase;
  }

  .first-radio-wrapper,
  .seconde-radio-wrapper,
  .first-site-wrapper,
  .first-telegram-wrapper,
  .first-app-wrapper {
    width: 320px;
    min-height: 225px;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;

    &::after {
      content: "";
      width: 190px;
      height: 2px;
      border-radius: 8px;
      background: var(--theme-default-header-social);
      position: absolute;
      left: 68px;
      bottom: 0;
    }
  }

  .checkbox,
  .radio {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
  }

  .first-radio-wrapper label {
    padding-bottom: 30px;
  }

  label,
  checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-size: 23px;
    letter-spacing: 0.25px;
    color: var(--color-light-gray);

    .custom-check {
      // margin-top: 25px;
      margin-right: 25px;
    }

  }

  .radio+.custom-check,
  .checkbox+.custom-check {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../svg/icon_heart_non_check.svg);
  }

  .radio:checked+.custom-check,
  .checkbox:checked+.custom-check {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../svg/icon_heart_check.svg);
  }

  .additional-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .additional-check1,
  .additional-check2,
  .additional-check3,
  .additional-check4 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    .custom-check {
      margin-top: 0;
      margin-right: 25px;
    }
  }

  .total-select {
    padding-top: 69px;
    padding-bottom: 35px;
    padding-left: 10px;
    font-size: 28px;
    color: var(--color-light-gray);
    line-height: 35px;
    letter-spacing: 0.3px;
    font-weight: 300;
  }

  .selected-items-list {
    padding-left: 10px;
  }

  .selected-item {
    padding-top: 10px;
    font-size: 18px;
  }

  .total-price {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    text-align: left;
    font-size: 21px;
    color: var(--color-light-gray);
    text-transform: uppercase;
  }

  .form-submit {
    display: block;
    width: 280px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 7px 12px;
    letter-spacing: 0.3px;
    font-size: 23px;
    color: var(--color-light-gray);
    background-color: transparent;
    box-shadow: var(--theme-default-main-ContactNeonBox);
    border-radius: 6px;
    color: var(--color-light-gray);

    &:focus,
    &:hover,
    &:active {
      background: var(--color-light-gray);
      color: var(--color-dark-gray);
    }
  }

}

@media (min-width:780px) {

  .shop-page {
    display: flex;
    padding-left: 50px;
    padding-right: 10px;
  }

  .text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    background-image: url(../../img/stars.png);
  }

  .form-title {
    text-align: left;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 42px;
   
  }

  .form-wrapper {
    width: 270px;
    padding-bottom: 33px;
    margin: 0;
    background-image: none;
  }

  label {
    padding-left: 0px;
    font-size: 25px;
  }

  .custom-check,
  .custom-check {
    width: 36px;
    height: 36px;
    background-size: 33px;
    background-position: center;
  }

  .additional-wrapper{
    padding-left: 0;
  }

  .total-select {
    font-size: 23px;
    padding-top: 40px;
  }

  .selected-items-list {
    padding-left: 20px;
  }

  .selected-item {
    font-size: 17px;
  }


  .total-price {
    padding-top: 40px;
  }

  .form-submit {
    width: 300px;
    font-size: 21px;
  }
}