@import '../../variablesBase.scss';

.mainTitleBlock {
  position: relative;
  overflow: hidden;

  @include mobile {
    height: calc(650px - 100px);
    width: 100%;
    background: var(--theme-default-main-titleBack)
  }

  @include descktop {
    padding-bottom: 200px;
    min-height: calc(100vh - 100px);
  }
}

.main_title__wrapp {
  width: 100%;
  position: relative;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  @include descktop {
    align-items: center;
    justify-content: center;
    padding-right: 40px;
  }
}

.main_title {
  @include mobile {
    width: auto;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: "Arsenal", sans-serif;
    color: var(--theme-default-main-titleText);
    font-size: 50px;
    display: flex;
    align-items: center;
    position: relative;
  }

  @include descktop {
    width: 500px;
    margin: 0 auto;
    font-size: 100px;
  }

  svg {
    @include mobile {
      padding-left: 15px;
      width: 60px;
      height: 60px;
      fill: var(--theme-default-main-titleG);
    }

    @include descktop {
      padding-left: 25px;
      width: 115px;
      height: 115px;
    }
  }

  .main_title__text_wrapper {
    width: 100%;
    display: flex;

    @include mobile {
      width: auto;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

    @include descktop {
      width: 100%;
      flex-direction: row;
      align-items: baseline;
    }

    :first-child {
      @include descktop {
        margin-right: 25px;
      }
    }
  }

}

.main_title_p {
  width: auto;
  text-align: center;

  @include mobile {
    padding-top: 50px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--theme-default-main-titleText);
  }

  @include descktop {
    font-size: 25px;
    padding-top: 35px;
    margin-left: 0;
    padding-bottom: 0;
    font-size: 43px;
    font-weight: 200;
    text-align: left;
  }
}

.main_title_p2 {
  width: auto;
  text-align: center;

  @include mobile {
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.5px;
    color: var(--theme-default-main-titleText)
  }

  @include descktop {
    padding-top: 10px;
  }
}

.sliding-text {
  position: absolute;
  font-size: 95px;
  bottom: 0;
  white-space: nowrap;
  opacity: 0.75;
  color: var(--color-light-gray);

  @include mobile {
    // display: none;
    width: 320px;

  }

  @include descktop {
    display: block;
    font-size: 135px;
    min-width: 780px;
  }
}