@media (min-width: 320px) {

  .main_title__wrapp {
    width: 100%;
  }

  .main_title {
    width: 300px;
    margin: 0;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: "Arsenal", sans-serif;
    color: var(--theme-default-main-titleText);
    font-size: 50px;
    display: flex;
    align-items: center;
    position: relative;

    svg {
      padding-left: 15px;
      width: 60px;
      height: 60px;
      fill: var(--theme-default-main-titleG);
    }

    &::after {
      content: '';
      width: 185px;
      height: 3px;
      border-radius: 5px;
      background-color: var(--theme-default-main-titleText);
      position: absolute;
      bottom: 10px;
      left: 0;
    }

    span {
      position: absolute;
      right: -7px;
    }

  }

  .main_title_p {
    margin-left: -38px;
    padding-bottom: 15px;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: var(--theme-default-main-titleText);
  }


  .main_title_list {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--theme-default-main);
    position: relative;

    li {
      margin-bottom: 10px;
      color: var(--theme-default-mainText);
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  .main-title__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #222831;
  }

  .letter-g__wrapper {
    padding-top: 150px;
    padding-left: 60px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
  }

  .main-title {
    margin: 0;
    margin-right: -14px;
    font-size: 125px;
    color: #EEEEEE;
  }

  .main-title__title {
    margin: 0;
    padding-left: 60px;
    padding-top: 15px;
    font-size: 25px;
    color: #EEEEEE;
  }

  .main-title__text-wrapper {
    padding-bottom: 125px;
    display: flex;
  }

  .main-title__text {
    margin: 0;
    padding-left: 60px;
    padding-top: 15px;
    font-size: 25px;
    color: #EEEEEE;
  }

  .main-title__text:focus,
  .main-title__text:hover {
    color: var(--color-mint);
  }

}

@media (min-width:780px) {

  .mainTitleBlock {
    width: 100%;
    height: calc(100vh - 100px);
    background: var(--theme-default-main-titleBack)
  }

  .main_title {
    font-size: 110px;
    width: 550px;
    
    svg {
      padding-left: 30px;
      width: 135px;
      height: 135px;
    }

    &::after {
      width: 400px;
    }

    span {
      right: -110px;
    }
  }

.main_title__text_wrapper{
  display: flex;
  justify-content: center;

  :first-child{
    margin-right: 25px;
  }
}

  .main_title_p {
    padding-top: 35px;
    margin-left: 0;
    padding-bottom: 0;
    font-size: 43px;
    font-weight: 200;
    text-align: left;
  }

  .slidingText{
    padding-left: 25%;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: -112px;
    font-size: 33vh;
    white-space: nowrap;
    color: var(--theme-default-main-titleSliding);
    z-index: 5;
    
    svg{
      width: 125px;
      height: 125px;
      // color: var(--theme-default-main-titleSliding);
      // color: var(--theme-default-main-titleSliding);
      // fill:  var(--theme-default-main-titleSliding);
    
    }

  }

}