.web_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  min-width: 500px;
  min-height: 350px;

  div {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;

  }

  .title {

    h3 {
      font-size: 27px;
      font-weight: 100;
      letter-spacing: 0.25px;
      color: #fff;
    }
  }

}

.bot_container,
.app_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  min-width: 500px;
  min-height: 350px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}

.npm_container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  min-width: 500px;
  min-height: 350px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}



.sliderKenny-wrapper {
  width: 100%;
  background: var(--theme-default-main-titleBack);
}

.sliderKenny {
  padding-top: 12px;
  padding-bottom: 50px;
  // min-width: 780px;
  // margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // gap: 10px;
  background-image: url('../../img/stars.png');
  position: relative;
}

.slider-pagination {
  width: 200px;
  position: absolute;
  bottom: 22px;
  left: 40%;
  z-index: 3;
  display: flex;
  justify-content: space-evenly;

  svg {
    fill: var(--theme-default-header-name);

  }
}

.selected {
  filter: blur(0.75px);
}

.slider-btn--prev {
  display: block;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 275px;
  bottom: 0;
  z-index: 2;

  :hover {
    filter: blur(0.75px);
  }

  svg {
    fill: var(--theme-default-header-name);
  }
}

.slider-btn--next {
  display: block;
  width: 75px;
  height: 75px;
  position: absolute;
  right: 245px;
  bottom: 0;
  rotate: 180deg;
  z-index: 2;

  :hover {
    filter: blur(1px);
  }

  svg {
    fill: var(--theme-default-header-name);
  }
}



.sliderKenny-list {
  width: 850px;
  min-height: 450px;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

}

.sliderKenny-item-chees,
.sliderKenny-item-batman,
.sliderKenny-item-princess,
.sliderKenny-item-mysterion {
  padding-bottom: 10px;
  // min-width: 840px;
  // margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--theme-default-header-name);


  .btn-toShop {
    position: absolute;
    left: 555px;
    bottom: 13px;
    width: 133px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 0.25px;
    background-color: transparent;
    // border-bottom: 2px solid var(--theme-default-header-name);
    color: var(--theme-default-header-name);
  }

  h2 {
    position: absolute;
    left: 0;
    top: -22px;
    font-size: 90px;
    font-weight: 200;
    color: white;
  }

  section {
    display: block;
    width: 450px;
    height: 250px;
    // border: 2px solid white;
  }
}

.item-0,
.item-1,
.item-2,
.item-3 {
  display: none;
  width: 830px;
  height: 100%;
  margin: 0 auto;
}

.display-block {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.sliderKenny-item-chees {

  // display: none;
  h2 {
    left: 35px;
  }


  img {
    margin-top: -33px;
    margin-left: 10px;
    width: 300px;
    height: 200px;

  }

  .btn-toShop {
    left: 585px;

  }
}

.sliderKenny-item-batman {
  // display: none;
  z-index: 3;

  h2 {
    left: 35px;
  }

  img {
    width: 400px;
    height: 250px;
    margin-left: -35px;
    z-index: 1;
  }

  .btn-toShop {
    left: 585px;
    bottom: 13px;
  }

}

.sliderKenny-item-princess {
  // display: none;

  h2 {
    left: 35px;
  }

  img {
    width: 250px;
    height: 250px;
    margin-left: 35px;

  }

  .btn-toShop {
    left: 550px;
    bottom: 13px;
  }
}

.sliderKenny-item-mysterion {
  // display: none;

  h2 {
    left: 35px;
  }

  img {
    width: 350px;
    height: 250px;
  }

  .btn-toShop {
    right: 550px;
    bottom: 13px;
  }
}



@keyframes pulsateAndMove {
  0% {
    transform: translateX(0);
    opacity: 0.8;
  }

  50% {
    transform: translateX(450px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
}

@keyframes pulsateAndMove2 {
  0% {
    transform: translateY(320px);
    opacity: 0.8;
  }

  50% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(320px);
    opacity: 0.8;
  }
}


.display-none {
  display: none;
}

.pulsating-div {
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background-color: blue;
  left: 75px;
  top: 295px;
  border-radius: 50%;
  z-index: 100;
  animation: pulsateAndMove 7.5s infinite;
  animation-delay: 0.75s;
  filter: blur(1px);
  opacity: 0.95;
}

.pulsating-div2 {
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background-color: blue;
  left: 75px;
  bottom: 35px;
  border-radius: 50%;
  z-index: 100;
  animation: pulsateAndMove 6.5s infinite;
  animation-delay: 0.35s;
}

.pulsating-div3 {
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background-color: greenyellow;
  left: 275px;
  top: 135px;
  border-radius: 50%;
  z-index: 100;
  animation: pulsateAndMove2 4.5s infinite;
  animation-delay: 0.35s;
}

.pulsating-div4 {
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background-color: greenyellow;
  left: 411px;
  top: 135px;
  border-radius: 50%;
  z-index: 100;
  animation: pulsateAndMove2 15s infinite;
  animation-delay: 1.5s;
}

.pulsating-div5 {
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background-color: greenyellow;
  left: 125px;
  top: 135px;
  border-radius: 50%;
  z-index: 100;
  animation: pulsateAndMove2 8s infinite;
  animation-delay: 0.5s;
}

.planet{
  opacity: 0.95;
}
.star1 {
  top: 72%;
  left: 45%;
  position: absolute;
  margin-top: -15px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: tomato;
  -webkit-animation: spinnerRotate 7.5s linear infinite;
  animation: spinnerRotate 7.5s linear infinite;
  border-radius: 50%;
}

@-webkit-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(30px);
    transform: rotate(0deg) translateX(30px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(30px);
    transform: rotate(360deg) translateX(30px);
  }
}
@keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(30px);
    transform: rotate(0deg) translateX(30px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(30px);
    transform: rotate(360deg) translateX(30px);
  }
}
.star2 {  
  top: 72%;
  left: 45%;
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  -webkit-animation: spinnerRotatetwo 5s linear infinite;
  animation: spinnerRotatetwo 5s linear infinite;
  background: greenyellow;
  border-radius: 50%;
  position: absolute;
}

@-webkit-keyframes spinnerRotatetwo {
  0% {
    -webkit-transform: rotate(0deg) translateY(111px);
    transform: rotate(0deg) translateY(111px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateY(111px);
    transform: rotate(360deg) translateY(111px);
  }
}

@keyframes spinnerRotatetwo {
  0% {
    -webkit-transform: rotate(0deg) translateY(111px);
    transform: rotate(0deg) translateY(111px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateY(111px);
    transform: rotate(360deg) translateY(111px);
  }
}

.star3 {
  top: 72%;
  left: 45%;
  position: absolute;
  -webkit-animation: spinnerRotatethree 15s linear infinite;
  animation: spinnerRotatethree 15s linear infinite;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: blue;
  margin-top: -9px;
  margin-left: -9px;
}

@-webkit-keyframes spinnerRotatethree {
  0% {
    -webkit-transform: rotate(0deg) translateY(180px);
    transform: rotate(0deg) translateY(180px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateY(180px);
    transform: rotate(360deg) translateY(180px);
  }
}

@keyframes spinnerRotatethree {
  0% {
    -webkit-transform: rotate(0deg) translateY(180px);
    transform: rotate(0deg) translateY(180px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateY(180px);
    transform: rotate(360deg) translateY(180px);
  }
}
