@import '../../variablesBase.scss';

.display-none {
  display: none;
}
.sliderKenny-wrapper {
  width: 100%;
  background: var(--theme-default-main-titleBack);
  
}


.sliderKenny-background-star{
  width: 100%;
  background-image: url('../../img/stars.png');
}

.sliderKenny {
  padding-top: 12px;
  padding-bottom: 50px;
  position: relative;

  @include mobile {
    width: 320px;
    margin: 0 auto;
  }

  @include descktop {
    width: 780px;
    margin: 0 auto;
  }
}

.sliderKenny-list {
  @include mobile {
    height: 500px;
    padding-top: 25px;
    padding-left: 0;
  }

  @include descktop {
    width: 780px;
    min-height: 450px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
}

//===============================================SLIDES=========================================
.item-0,
.item-1,
.item-2,
.item-3 {
  display: none;
  width: 830px;
  height: 100%;
  margin: 0 auto;
}

.display-block {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

//===============================================PAGINATION===================================
.slider-pagination {
  @include mobile {
    width: 340px;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    position: absolute;
    bottom: 22px;
    z-index: 3;
  }

  @include descktop {
    left: 30%;
    justify-content: space-evenly;
  }

  svg {
    fill: var(--theme-default-header-name);

    @include mobile {
      width: 25px;
      height: 25px;
    }

    @include descktop {
      width: 45px;
      height: 45px;
    }
  }
}

.selected {
  filter: blur(0.75px);
}

.slider-btn--prev {
  @include mobile {
    display: none;
  }

  @include descktop {
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 150px;
    bottom: 5px;
  }

  :focus,
  :hover {
    filter: blur(0.75px);
  }

  svg {
    width: 45px;
    height: 45px;
    fill: var(--theme-default-header-name);
  }
}

.slider-btn--next {
  rotate: 180deg;
  @include mobile {
    display: none;
  }

  @include descktop {
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    right: 125px;
    bottom: 5px;
  }

  :focus,
  :hover {
    filter: blur(1px);
  }

  svg {
    width: 45px;
    height: 45px;
    fill: var(--theme-default-header-name);
  }
}

//=======================================================ALL SLIDES=======================================
.sliderKenny-item-chees,
.sliderKenny-item-batman,
.sliderKenny-item-princess,
.sliderKenny-item-mysterion {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--theme-default-header-name);

  @include mobile {
    flex-wrap: wrap;
  }

  @include descktop {
    flex-wrap: nowrap;
  }

  //===================================================WEB CONTAINER==========================================
  .web_container {
    @include mobile {
      width: 320px;
      height: 250px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 2vw;
      grid-auto-flow: row;
    }

    @include descktop {
      min-width: 500px;
      min-height: 350px;
    }

    div {
      @include descktop {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 25px;
      }
    }

    .title {
      h3 {
        @include mobile {
          font-size: 18px;
        }

        @include descktop {
          font-size: 27px;
          font-weight: 100;
          letter-spacing: 0.25px;
          color: var(--color-white)
        }
      }
    }

    .super-title {
      p {
        @include mobile {
          font-size: 21px;
        }

        @include descktop {
          font-size: 48px;
        }
      }
    }

    .title1 {
      h3 {
        p {
          @include mobile {
            font-size: 10px;
          }

          @include descktop {
            font-size: 13px;
            font-weight: 200;
          }
        }
      }
    }

    .text {
      text-align: center;
      animation: pulse-animation 7s 0.25s infinite;

      @include mobile {
        font-size: 15px;
      }

      @include descktop {
        font-size: 21px;
      }
    }

    .btn-toShop {
      left: 585px;

      @include mobile {
        left: 100px;
        bottom: -35px;
      }
    }

  }

  //===================================================BOT APP CONTAINER======================================
  .bot_container,
  .app_container {
    @include mobile {
      width: 320px;
      height: 250px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 2vw;
      grid-auto-flow: row;
    }

    @include descktop {
      min-width: 500px;
      min-height: 350px;
    }

    div {
      @include descktop {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
      }
    }

    .super-title {
      p {
        @include mobile {
          font-size: 25px;
        }

        @include descktop {
          font-size: 48px;
        }
      }
    }

    .title {
      @include mobile {
        font-size: 21px;
      }

      @include descktop {
        font-size: 27px;
        font-weight: 200;
      }
    }


    .text {
      text-align: center;
      animation: pulse-animation 7s 0.25s infinite;

      @include mobile {
        font-size: 18px;
      }

      @include descktop {
        font-size: 21px;
      }
    }

  }

  //===================================================NPM CONTAINER===================================
  .npm_container {
    @include mobile {
      width: 320px;
      height: 250px;
      display: grid;
      grid-template-columns: repeat(2, 0.5fr);
      grid-template-rows: repeat(1, 0.5fr);
      gap: 2vw;
      grid-auto-flow: row;
    }

    @include descktop {
      min-width: 500px;
      min-height: 350px;
    }

    div {
      @include descktop {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
      }
    }

    .super-title {
      p {
        @include mobile {
          font-size: 25px;
        }

        @include descktop {
          font-size: 48px;
        }
      }
    }

    
    .title {
      @include mobile {
        font-size: 21px;
      }

      @include descktop {
        font-size: 27px;
        font-weight: 200;
      }
    }


    .text {
      text-align: center;
      animation: pulse-animation 7s 0.25s infinite;

      @include mobile {
        font-size: 18px;
      }

      @include descktop {
        font-size: 21px;
      }
    }

  }

  //==============================================BTN SHOP======================================
  .btn-toShop {
    position: absolute;
    left: 555px;
    bottom: 13px;
    width: 133px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 0.25px;
    background-color: transparent;
    color: var(--theme-default-header-name);
  }

  h2 {
    position: absolute;
    left: 0;
    top: -22px;
    font-size: 90px;
    font-weight: 200;
    color: white;
  }

  section {
    display: block;
    width: 450px;
    height: 250px;
  }

}

//==========================================SLIDE CONTENT CHEES==========================================
.sliderKenny-item-chees {

  img {
    @include mobile {
      width: 251px;
      height: 185px;
      display: block;
      margin: 0 auto;
    }

    @include descktop {
      display: block;
      margin-top: -33px;
      margin-left: -69  px;
      width: 300px;
      height: 200px;
    }
  }

  .btn-toShop {
    @include mobile {
      left: 100px;
      bottom: -35px;
    }

    @include descktop {
      left: 585px;
      bottom: 13px;

    }

  }
}

//=================================================SLIDE CONTENT BATMAN=====================================
.sliderKenny-item-batman {

  img {

    @include mobile {
      width: 251px;
      height: 185px;
      display: block;
      margin: 0 auto;
    }

    @include descktop {
      width: 400px;
      height: 250px;
      margin-left: -69px;
    }
  }

  .btn-toShop {
   

    @include mobile {
      left: 100px;
      bottom: -25px;
    }

    @include descktop {
      left: 585px;
    bottom: 13px;
    }

  }

}

//=============================================SLIDE CONTENT PRINCESS=======================================
.sliderKenny-item-princess {

  img {
    @include mobile {
      width: 211px;
      height: 195px;
      display: block;
      margin: 0 auto;
    }

    @include descktop {
      width: 250px;
      height: 250px;
      // margin-left: 35px;
    }

  }

  .btn-toShop {
   
    @include mobile {
      left: 100px;
      bottom: -25px;
    }

    @include descktop {
      left: 555px;
    bottom: 13px;
    }

  }
}

//================================================SLIDE CONTENT MYSTERION================================
.sliderKenny-item-mysterion {

  img {
    @include mobile {
      width: 251px;
      height: 185px;
      display: block;
      margin: 0 auto;
    }

    @include descktop {
      width: 350px;
      height: 250px;
      margin-left: -40px;
    }
  }
}


@keyframes pulse-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


//===========================================BACKGROUND===========================================
.pulsating-div {
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--color-light-gray);
  border-radius: 50%;
  animation: pulsateAndMove 7.5s infinite;
  animation-delay: 0.75s;
  filter: blur(0.75px);
  opacity: 0.05;

  @include mobile {
    left: 10px;
    top: 80px;
  }

  @include descktop {
    left: 75px;
    top: 295px;
  }
}

.pulsating-div2 {
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background: var(--color-light-gray);
  border-radius: 50%;
  animation: pulsateAndMove 6.5s infinite;
  animation-delay: 0.35s;
  opacity: 0.05;
  filter: blur(0.75px);

  @include mobile {
    left: 10px;
    top: 175px;
  }

  @include descktop {
    left: 75px;
    bottom: 35px;
  }
}

.pulsating-div3 {
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--color-light-gray);
  border-radius: 50%;
  animation: pulsateAndMove2 4.5s infinite;
  animation-delay: 0.35s;
  opacity: 0.05;
  filter: blur(0.75px);

  @include mobile {
    left: 275px;
    // top: 135px;
  }

  @include descktop {
    left: 275px;
    top: 135px;
  }
}

.pulsating-div4 {
  position: absolute;
  width: 13px;
  height: 13px;
  background: var(--color-light-gray);
  border-radius: 50%;
  animation: pulsateAndMove2 15s infinite;
  animation-delay: 1.5s;
  opacity: 0.05;
  filter: blur(0.75px);

  @include mobile {
    left: 25px;

  }

  @include descktop {
    left: 411px;
    top: 135px;
  }
}

.pulsating-div5 {
  position: absolute;
  width: 21px;
  height: 21px;
  background: var(--color-light-gray);
  border-radius: 50%;
  animation: pulsateAndMove2 8s infinite;
  animation-delay: 0.5s;
  opacity: 0.05;
  filter: blur(0.75px);

  @include mobile {
    left: 150px;
  }

  @include descktop {
    left: 125px;
    top: 135px;
  }
}


@keyframes pulsateAndMove {
  0% {
    opacity: 0.8;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(300px);
  }

  100% {
    opacity: 0.8;
    transform: translateX(0);
  }
}

@keyframes pulsateAndMove2 {
  0% {
    transform: translateY(320px);
    opacity: 0.8;
  }

  50% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(320px);
    opacity: 0.8;
  }
}

//==========================================ANIMATION 2SLIDE=============================

.planet {
  opacity: 0.95;
}

.star1 {
  top: 72%;
  left: 45%;
  position: absolute;
  margin-top: -15px;
  margin-left: -15px;
  width: 25px;
  height: 25px;
  background: var(--color-light-gray);
  -webkit-animation: spinnerRotate 7.5s linear infinite;
  animation: spinnerRotate 7.5s linear infinite;
  border-radius: 50%;
  opacity: 0.65;
  filter: blur(0.75px);
}

@-webkit-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(30px);
    transform: rotate(0deg) translateX(30px);
  }

  100% {
    -webkit-transform: rotate(360deg) translateX(30px);
    transform: rotate(360deg) translateX(30px);
  }
}

@keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(30px);
    transform: rotate(0deg) translateX(30px);
  }

  100% {
    -webkit-transform: rotate(360deg) translateX(30px);
    transform: rotate(360deg) translateX(30px);
  }
}

.star2 {
  top: 72%;
  left: 45%;
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: -8px;
  margin-left: -8px;
  -webkit-animation: spinnerRotatetwo 5s linear infinite;
  animation: spinnerRotatetwo 5s linear infinite;
  background: var(--color-light-gray);
  border-radius: 50%;
  position: absolute;
  opacity: 0.65;
  filter: blur(0.75px);
}

@-webkit-keyframes spinnerRotatetwo {
  0% {
    -webkit-transform: rotate(0deg) translateY(111px);
    transform: rotate(0deg) translateY(111px);
  }

  100% {
    -webkit-transform: rotate(360deg) translateY(111px);
    transform: rotate(360deg) translateY(111px);
  }
}

@keyframes spinnerRotatetwo {
  0% {
    -webkit-transform: rotate(0deg) translateY(111px);
    transform: rotate(0deg) translateY(111px);
  }

  100% {
    -webkit-transform: rotate(360deg) translateY(111px);
    transform: rotate(360deg) translateY(111px);
  }
}

.star3 {
  top: 72%;
  left: 45%;
  position: absolute;
  -webkit-animation: spinnerRotatethree 15s linear infinite;
  animation: spinnerRotatethree 15s linear infinite;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--color-light-gray);
  margin-top: -9px;
  margin-left: -9px;
  opacity: 0.65;
  filter: blur(0.75px);
}

@-webkit-keyframes spinnerRotatethree {
  0% {
    -webkit-transform: rotate(0deg) translateY(180px);
    transform: rotate(0deg) translateY(180px);
  }

  100% {
    -webkit-transform: rotate(360deg) translateY(180px);
    transform: rotate(360deg) translateY(180px);
  }
}

@keyframes spinnerRotatethree {
  0% {
    -webkit-transform: rotate(0deg) translateY(180px);
    transform: rotate(0deg) translateY(180px);
  }

  100% {
    -webkit-transform: rotate(360deg) translateY(180px);
    transform: rotate(360deg) translateY(180px);
  }
}