sliderKenny-wrapper{
  padding-bottom: 50px;
  width: 100%;
  background: var(--theme-default-main-titleBack);
}

.sliderKenny{
  padding-left: 85px;
  padding-right: 85px;
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-image: url('../../img/stars.png');
}

.sliderKenny-item{
  
  img{
  width: 200px;
  height: 100px;
}

}