@import '../../variablesBase.scss';

.header{
  height: 112px;
  display: flex;
  justify-content: end;
  background: var(--theme-default-header-background);
  background-image: url(../../img/stars.png);

  .wrapper{
    max-width: 1400px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 25px;
    z-index: 10;

    @include mobile {
      padding-right: 10px;
    }
  }
}


.name{
  font-family: "Arsenal", sans-serif;
  color: var(--theme-default-header-name);
}

.social-contacts{
  display: flex;
  li{
    margin-left: 15px;
  }
}
.social-telegram,
.social-whatsup{
  svg{
    width: 40px;
    height: 40px;
  }
  @include mobile {
    display: none;
    }
}

.social-telegram{
  svg{
    fill: var(--color-white);
  }
}

.whatsup-path{
    fill: var(--color-white);
  }
.whatsup-path2{
  fill: var(--color-black);
}

.color-theme {
  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;  
  }
}