.header{
  height: 100px;
  display: flex;
  justify-content: end;
  // background-color: var(--color-black);

  .wrapper{
    max-width: 1400px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 25px;
    z-index: 10;
  }
}

.name{
  color: var(--color-white);
}

.social-contacts{
  display: flex;
  li{
    margin-left: 15px;
  }
}
.social-telegram,
.social-whatsup{
  svg{
    width: 40px;
    height: 40px;
  }
}

.social-telegram{
  svg{
    fill: var(--color-mint);
  }
}

.whatsup-path{
    fill: var(--color-mint);
}

.color-theme {
  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;  // пространство между иконкой и текстом
  }
}