@media (min-width:320px) {

  .full-post__wrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--theme-default-main-titleBack);
  }

  .full-post{
    min-height: 100vh;
    background-image: url(../../img/stars.png);
  }

  .back-to-allpost{
    width: 225px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--color-light-gray);

    svg{
      fill: var( --theme-default-main-titleG);
      margin-right: 10px;
    }

    &:focus,
    &:hover{
      color: var(--theme-default-main-titleG);

      svg{
        background-color: var(--color-light-gray);
        border-radius: 8px;
      }
    }
  }

  .full-post-content{
    min-width: 320px;
    margin: 0 auto ;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .full-post-title{
    min-height: 50px;
    font-size: 25px;
    padding-bottom: 25px;
    font-weight: 300;
    color: var(--color-light-gray);
    text-align: center;
  }

  .full-post-text{
    min-height: 50px;
    padding-bottom: 25px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 300;
    color: var(--color-light-gray);
  }

  .full-post-tags{
    min-height: 30px;
    padding-left: 10px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: var(--color-light-gray);
  }

  .post-data{
    // margin-bottom: 25px;
    width: 100%;
    margin: 0 auto;
  }

}

@media (min-width:780px) {

  .full-post-content{
    max-width: 780px;
    margin: 0 auto;
  }
}