@media (min-width:320px) {


  .cart-page__wrapper{
    min-height: 100vh;
    background: var(--theme-default-main-titleBack);
  }

  .cart-page__back{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../img/stars.png) ;
  }
  .cart {
    padding: 10px 10px;
    background-image: url(../../img/stars.png) ;
  }

  .cart_title {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 69px;
    text-align: center;
    font-size: 33px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-light-gray);
  }

  .all-clear-btn{
    padding: 12.5px 12.5px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-gray);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    // text-decoration: underline;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
    // box-shadow: var(--theme-default-main-ContactNeonBox);
  
    &:focus,
    &:hover {
      box-shadow: var(--theme-default-main-ContactNeonBox);
      background: transparent;
      
    }
  }

  .cart-item {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--theme-default-main-ContactNeonBox);
    background-color: transparent;
    color: var(--color-light-gray);
    border-radius: 8px;

    &:hover {
      background-color: transparent;
      color: var( --color-light-gray);
      opacity: 0.33;
    }
  }

  .item-name {
    margin-left: 10px;
    font-size: 18px;

    &span {
      margin-right: 5px;
    }
  }

  .item-price{
    margin-left: auto;
    margin-right: 50px;
  }

  .cart-total {
    margin-top: 75px;
    text-align: right;

    p{
      padding-bottom: 25px;
      text-decoration: underline;
    }
  }

  .inc-btn {
    margin-right: 5px;
  }


  .remove-btn,
  .inc-btn,
  .dec-btn {
    padding: 3px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid var(--theme-default-main-ContactNeonBox);
    cursor: pointer;
    transition: fill 0.3s ease;

    svg{
      fill: var(--theme-default-main-ContactNeonBox);
      stroke: var(--theme-default-main-ContactNeonBox) ;
    }

    &:focus,
    &:hover,
    &:active {
      border: 2px solid var(--theme-default-main-ContactNeonBox);
      background: transparent;
      fill: var(--color-light-gray);
    }
  }

  .remove-btn svg,
  .inc-btn svg,
  .dec-btn svg {
      background: transparent;
      fill: var(--color-light-gray);

  }

  .remove-btn:focus svg,
  .inc-btn:focus svg,
  .dec-btn:focus svg,
  .remove-btn:hover svg,
  .inc-btn:hover svg,
  .dec-btn:hover svg,
  .remove-btn:active svg,
  .inc-btn:active svg,
  .dec-btn:active svg {
    fill: var(--theme-default-main-ContactNeonBox);
      stroke: var(--theme-default-main-ContactNeonBox) ;
  }

  .quantity {
    display: flex;
    align-items: center;
  }

  .item-quantity {
    margin: 0 10px;
    font-weight: bold;
  }

  .cart-total {
    display: flex;
    flex-direction: column;

    p {
      text-align: center;
      padding-bottom: 25px;
      padding-right: 25px;
      color: var(--color-light-gray);
      font-size: 25px;
    }
  }

  .checkout-btn {
    padding: 10px 20px;
    margin-bottom: 20px;
    color: var(--color-light-gray);
    font-size: 25px;
    letter-spacing: 0.25px;
    font-weight: 200;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #00ADB5;
    background-color: #393e46;
  }

  .checkout-btn:hover {
     box-shadow: var(--theme-default-main-ContactNeonBox);
    color: var(--color-light-gray);
  }


}