@media (min-width:320px) {

  .layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-dark-gray);
  }

  .layout button {
    outline: none;
    border: none;
    background-color: transparent;
  }

  .color_theme_btn_list{
    position: fixed;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    right: 25px;
    top: 66px;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}