@media (min-width:320px) {
  .layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #393e46;
    
    button {
      margin-bottom: 15px;
      outline: none;
      border: none;
      background-color: transparent;
      border-color: var(--color-mauve);
    }
  }

  .color_theme_btn_list{
    display: flex;
    align-items: baseline;
  }
}