.mainContact-wrapper {
  padding-bottom: 50px;
  width: 100%;
  background: var(--theme-default-main-titleBack);
}

.mainContact {
  padding-left: 85px;
  padding-right: 85px;
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-image: url('../../img/stars.png');
}


.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;

  ul{
    margin-top: auto;
    padding-bottom: 50px;
  }

  li {
    padding-bottom: 50px;
  }

  h2 {
    font-size: 95px;
    font-weight: 200;
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
    color: var(--color-white);
    text-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 10px #0fa,
      0 0 15px #0fa,
      0 0 20px #0fa,
      0 0 25px #0fa,
      0 0 35px #0fa,
      0 0 50px #0fa,
  }

  // h4 {
  //   padding-bottom: 10px;
  //   font-size: 30px;
  //   line-height: 40px;
  //   line-height: 40px;
  //   color: transparent;
  //   text-shadow:
  //     0 0 1px #fff,
  //     0 0 5px #0fa,
  //     0 0 9px #0fa,
  //     0 0 12px #0fa;
  // }

  .contacts-link {
    font-size: 25px;
    color: var(--color-white);
    padding-bottom: 30px;
    color: transparent;
    
    text-shadow:
      0 0 1px #fff,
      0 0 5px #0fa,
      0 0 9px #0fa,
      0 0 12px #0fa;

    &:hover {
      animation: blink-animation 0.375s steps(5, start) infinite;
      -webkit-animation: blink-animation 0.375s steps(5, start) infinite;
    }
  }

}


@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.form-container {
  flex: 1;
  position: relative;

  .phoneSvg {

    svg {
      display: block;
      width: 135px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
      padding: 20px;
      background-color: transparent;
      outline: none;
      border: 1px solid var(--color-white);
      color: var(--color-white);
      border-radius: 8px;
      box-shadow:
        0 0 3px #fff,
        0 0 7px #0fa,
        0 0 12px #0fa;
    }

    button {
      padding: 20px;
      border: 1px solid var(--color-white);
      border-radius: 8px;
      cursor: pointer;
      font-size: 23px;
      background-color: transparent;
      color: transparent;
      font-weight: 200;
      text-shadow:
        0 0 1px #fff,
        0 0 5px #0fa,
        0 0 9px #0fa;

      box-shadow:
        0 0 3px #fff,
        0 0 7px #0fa,
        0 0 12px #0fa;

        &:focus,
        &:hover {
          animation: blink-animation 1.25s steps(5, start) infinite;
          -webkit-animation: blink-animation 1.25s steps(5, start) infinite;
    
        }
    }
  }
}

.map-container {
  flex-grow: 2;
  height: 300px;
  border-radius: 8px;
  
    iframe{
      display: block;
      min-width: 700px;
      height:300px;
      margin: 0 auto; 
      border-radius: 33px;
      box-shadow:
      0 0 1px #fff,
      0 0 2px #0fa,
      0 0 3px #0fa;
      
    }
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}