@import '../../variablesBase.scss';


.paralax-wrapper {
  width: 100%;
  height: 600px;
  background: var(--theme-default-paralax-background);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  @include mobile {
    height: 400px;
  }

  @include descktop {
    height: 800px;
  }

  h2 {
    color: var(--color-white);
    font-family: "Arsenal", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 25px;

    @include mobile {
      font-size: 50px;
    }

    @include descktop {
      margin-top: -325px;
      font-size: 125px;
    }

  }

  .mountains {
    width: 100%;
    height: 100%;
    background-image: url('../../img/mountains.png');
    background-position: bottom;
    position: absolute;
    z-index: 3;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include descktop {
      background-size: cover;
    }
  }

  .planet {
    width: 100%;
    height: 100%;
    background-image: url('../../img/planets.png');
    background-position: bottom;
    position: absolute;
    overflow: hidden;
    z-index: 2;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 25px;

    }

    @include descktop {
      background-size: cover;
      background-position-y: -150px;
    }
  }

  .planet2 {
    width: 100%;
    height: 100%;
    background-image: url('../../img/planets.png');
    background-position: bottom;
    position: absolute;
    overflow: hidden;
    z-index: 2;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 250px;

    }

    @include descktop {
      background-size: cover;
    }
  }

  .stars {
    width: 100%;
    height: 100%;
    background-image: url('../../img/stars.png');
    background-size: cover;
    background-position: bottom;
    position: absolute;
    z-index: 1;
  }
}